.portfolio {


  &-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-info {
      flex: 1;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .portfolio {


    &-slide {
      flex-direction: column;

      &-img {
        display: none;
        img {
          width: 100%;
        }
      }
    }
  }
}